html, head, body
{
    background-color:darkslategray;
}

#glcanvas
{
    width: 800px;
    height: 600px;
    border: 2px solid white;
    background-color: coral;
}

#errbox
{
    color:crimson;
    border: 3px solid white;
    padding: 20px;
    margin-top: 20px;
}

#spedometer
{
    color:white;
}

.errbox-title
{
    color:white;
    border-bottom:1px solid white;
}